<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Dueño</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/crearDueno.css}">
</head>
<body>
    <div class="form-container">
        <h2> Agregar Dueño</h2>
        <form th:object="${dueno}" th:action="@{/agregarDueno}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input th:field="*{nombre}" type="text" id="nombre" placeholder="Ingrese nombre">
            </div>
            <div class="form-group">
                <label for="cedula">Cédula</label>
                <input th:field="*{cedula}" type="text" id="cedula" placeholder="Ingrese número de cédula">
            </div>
            <div class="form-group">
                <label for="correo">Correo</label>
                <input th:field="*{correo}" type="text" id="correo" placeholder="Ingrese correo">
            </div>
            <div class="form-group">
                <label for="celular">Celular</label>
                <input th:field="*{celular}" type="text" id="celular" placeholder="Ingrese número de celular">
            </div>
            <div class="form-group">
                <label for="imagenUrl">URL de la Imagen</label>
                <input th:field="*{imagenUrl}" type="url" id="imagenUrl" placeholder="Ingrese la URL de la imagen del dueño" required>
            </div>
            <button type="submit">Agregar Dueño</button>
        </form>
    </div>
</body>
</html>
